.fill-height {
  height: 100%;
}

.device-screen {
  width: 821px;
  height: 821px;
  background: gray;
  position: relative;
  display: block;
  overflow: hidden;
  /*cursor: pointer;*/
  text-align: center; /* needed for centering after rotating to 270 */

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.device-screen .positioner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  pointer-events: none;
  transform: rotate(0deg);
}

.device-screen canvas.screen {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  pointer-events: none; /* MUST HAVE or touch coordinates will be off */
  transition: -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.device-screen .positioner .hacky-stretcher {
  outline: 1px solid red;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

/* screen is in default rotation or upside down, possibly with empty space on left/right */

.device-screen/*.portrait*/ .positioner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.device-screen/*.portrait*/ canvas.screen {
  width: auto;
  height: 100%;
}

/* screen is in default rotation or upside down, possibly with empty space on top/bottom */

.device-screen/*.portrait*/.letterboxed .positioner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.device-screen/*.portrait*/.letterboxed canvas.screen {
  width: 100%;
  height: auto;
}

/* screen is rotated sideways, possibly with empty space on left/right */

.device-screen.rotated .positioner {
  position: relative;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.device-screen.rotated canvas.screen {
  width: 100%;
  height: auto;
}

/* screen is rotated sideways, possibly with empty space on top/bottom */

.device-screen.rotated.letterboxed .positioner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  padding-top: 100%;
  height: 0;
}

.device-screen.rotated.letterboxed canvas.screen {
  height: 100%;
  width: auto;
}

.device-screen .finger {
  position: absolute;
  border-radius: 50%;
  background: #7c7c7c;
  opacity: 0.5;
  width: 8mm;
  height: 8mm;
  top: -4mm;
  left: -4mm;
  pointer-events: none;
  display: none;
  border-style: solid;
  border-width: 1px;
  border-color: #464646;
}

.device-screen .finger.active {
  display: block;
}

.device-screen input {
  position: absolute;
  z-index: 10;
  outline: none;
  pointer-events: none;
  opacity: 0;
  ime-mode: disabled;
  /* inputmode: verbatim; */
}
